@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-heading: var(--font-jost);
  --font-body: var(--font-circe);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.font-heading {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

.font-body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}